@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');

// Set your brand colors
$purple: #00c9ff;
$pink: #FA7C91;
$brown: #4e4e4e;
$beige-light: #D0D1CD;
$beige-lighter: rgb(240, 240, 240);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$main-title-font: 'Montserrat', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;





// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

// Button
@import "../node_modules/bulma/sass/elements/_all.sass";
.button {
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(46, 229, 174);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
};
.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }




@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import '../node_modules/bulma/sass/grid/_all.sass';

.main-title {
    color: #2d2d2d;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    text-shadow: #fff 0px 1px 1px;
}

// Hamburgers
@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

.hamburger-custom{
    display: flex;
    margin-left: auto;
    @include from($desktop){
        display: none;
    }

} 

.navbar-menu.is-active {
    animation: navAnim .2s linear;
}

@keyframes navAnim {
    0% {
        display: none;
        opacity: 0;
        max-height: 0;
    }
    1% {
        display: flex;
        opacity: 0;
        max-height: 0;
    }

    100% {
        display: flex;
        opacity: 1;
        max-height: 500px;
    }
}

// Background SVG

.svg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.blue-azure {
    position: absolute;
    top: -9rem;
    right: -19rem;
}

.blue-azure-light {
    position: absolute;
    top: -9rem;
    right: -19rem;
}

.big-blob {
    position: absolute;
    z-index: 100;
    right:20rem;
    top:8rem;
}

.big-blob-light {
    position: absolute;
    z-index: 100;
    right:17.5em;
    top: 7rem;
}

// Tiles
.tile article {
    box-shadow: 0px 0px 1.2rem rgb(151, 151, 151);
    transition: 0.6s;
}

.tile article:hover {
    box-shadow: 0px 0px 2rem rgb(71, 71, 71);
    transform: scale(1.05);
    z-index: 100;
}

.gradient-purple {
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */  
    background: linear-gradient(to bottom right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 1rem;
}

.gradient-red {
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 1rem;
}

.gradient-blue {
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border-radius: 1rem;
}

.gradient-green {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
    border-radius: 1rem;
}

.gradient-cherry {
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
    border-radius: 1rem;
}

//footer
.footer {
    background: rgb(47, 47, 47);
    color: rgb(167, 167, 167);
    padding-bottom: 2rem;
}

.footer h1 {
    color: rgb(195, 195, 195);
}

@import "../node_modules/bulma-divider/src/sass/index.sass";

.backgroundMe::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%; height: 100%;
    background-image: url("https://scontent-lhr3-1.cdninstagram.com/vp/8860dde9954f7c9a54f545bf2f0de676/5DC7124D/t51.2885-15/e35/33471696_1970610553180798_7123866068359053312_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com");
    filter: opacity(0.2);
    background-position: 18%;
    z-index: -100;
}

